Django>2.2,<=3.0.14 #checkout azure supported version
django-import-export<2.8.0
djangorestframework
djangorestframework-simplejwt<=5.2.2
django-admin-list-filter-dropdown # to be replaced by line 6
django-admin-autocomplete-filter<=0.7.1 # to replace line 5
django-rest-swagger
django-parler
django-parler-rest
django-modeladmin-reorder
django-bootstrap-datepicker-plus==3.0.5
django-smart-selects<=1.5.9
# django-storages<=1.13.1
django-storages[azure]<=1.12.3
django-admin-menu<=1.5
django-crispy-forms==1.14.0
# data-wizard<2.0.0 #checkout latest data wizard
git+https://github.com/ahoazure/aho_data_import_wizard.git@main # translated into fr and pt
msal<=1.9.0 #library needed for OIDC
mysqlclient<=2.0.1
Pillow>=6.0.0
python-dotenv<=0.17.1
pytz>=2018.5
tablib[all]
whitenoise

# data science and form packages
fuzzywuzzy # string matching algorithm
python-Levenshtein # helper lib for fuzzywuz
pandas==1.4.3
matplotlib==3.5.3
numpy==1.23.2
django-pandas==0.6.6
seaborn==0.11.2
scipy==1.9.0
django-crispy-forms==1.14.0
SQLAlchemy<=1.4.40
statsmodels<=0.13.2

